<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/common/CSS/header.css">
    <script type="text/javascript" src="/common/JS/header.js"></script>
    <script src="https://kit.fontawesome.com/9f6f15ccb8.js" crossorigin="anonymous"></script>
</head>

    <script>
	    const message = '[[${message}]]';
		message && alert(message);
	</script>

<body>
    <div class="main">
        <div class="main-logo">
            <a href="/">로고입니다.</a>
        </div>
        <ul class="main-nav">
            <div th:each="refCategory : ${refCategory}">
                <li class="refList" th:text="${refCategory.refCategoryNm}"></li>
                    <ul>
                        <div th:each="category : ${category}">
                            <li class="categoryList" th:if="${refCategory.refCategory == category.refCategory}" th:text="${category.categoryName}"></li>
                        </div>
                    </ul>
            </div>
        </ul>
        <ul class="login">
            <th:block sec:authorize="isAnonymous()">
                <input type="button" value="로그인" id="login">
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <input type="button" value="관리자 버튼" id="adminButton">
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_SELL')">
                <input type="button" value="판매자 버튼" id="sellButton">
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <input type="button" value="마이프로필" id="myProfile">
                <input type="button" value="로그아웃" id="logout">
            </th:block>
        </ul>

        <a href="#" class="hma">
            <i id="toggleB" class="fas fa-bars"></i>
        </a>
    </div>
</body>
</html>
