<!DOCTYPE html>
<html lang="kp"
        xmlns:th="http//www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/admin/sell/CSS/sellReqDetail.css">
</head>
<body>
    <div class="wrapper">
        <div th:replace="admin/common/adminSideBar.html"></div>
        <div class="myPageContents">
            <div class="mYConetentsBar">
                <table class="contentsBar">
                    <tr>
                        <th>야</th>
                    </tr>
                    <tr>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>