<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/user/sell/CSS/addProduct.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="user/sell/sellSideBar.html"></div>
        <div class="myPageContents">
            <div class="mYConetentsBar">
                <h2>판매 등록</h2>              
                <form id="sellForm" action="/sell/addProduct" method="post" enctype="multipart/form-data">
                    <label for="listNm">판매글 제목:</label>
                    <input type="text" id="listNm" name="listNm" required>
                    
                    <label for="main-image" class="upload">대표 사진</label>
                    <input type="file" id="main-image[0]" name="attachImageMain" accept="image/jpg, image/png" multiple required>
                    
                    <label for="fileView">파일 미리보기</label>
                    <div class="image-area" name="fileView[0]">
                        <img style="width: 650px; height: 450px;">
                    </div>

                    <label for="sellDescription">판매 설명:</label>
                    <textarea id="sellDescription" name="sellDescription" required></textarea>
                    
                    <label for="sellCategory">카테고리:</label>
                    <select id="sellCategory" name="refCategoryCode.refCategory" required>
                    </select>
                    
                    <div id="itemsContainer">
                        <div class="item">
                            <label>상품 등록</label>
                            
                            <label for="ptNm">이름</label>
                            <input type="text" id="ptNm" class="itemInput" name="ptList[0].ptNm" required>

                            <label for="sellPtCategory">카테고리:</label>
                            <select id="sellPtCategory" class="sellPtCategory" name="ptList[0].category.categoryCode" required>

                            <label for="main-image" class="upload">상품 사진</label>
                            <input type="file" id="main-image[0]" name="attachImage[0]" accept="image/jpg, image/png" multiple>

                            <label for="fileView">파일 미리보기</label>
                            <div class="image-area" name="fileView[0]">
                                <img style="width: 120px; height: 100px;">
                            </div>

                            <label for="main-image" class="upload">상품 사진</label>
                            <input type="file" id="main-image[0]" name="attachImage[0]" accept="image/jpg, image/png" multiple>
                            
                            <label for="fileView">파일 미리보기</label>
                            <div class="image-area" name="fileView[0]">
                                <img style="width: 120px; height: 100px;">
                            </div>
                            
                            <button type="button" id="fileAdd">파일 추가</button>
                            
                            <label for="ptDescrip">상품 설명</label>
                            <textarea class="itemInput" id="ptDescrip" name="ptList[0].ptDescrip" required></textarea>
                            
                            <label for="price">가격</label>
                            <input type="number" id="price" class="itemInput" name="ptList[0].price" required>
                            
                            <label for="stCount">재고</label>
                            <input type="number" id="stCount" class="itemInput" name="ptList[0].stCount" required>

                            <button type="button" class="removeItemBtn">상품 삭제</button>
                        </div>
                    </div>
                
                    <button type="button" id="addItemBtn">상품 추가</button>
                    <button type="submit">판매 등록</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>