<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/user/sell/CSS/sellRegist.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
    <div class="wrapper">
        <div th:replace="user/myPage/myProfileSideBar.html"></div>
        <div class="myPageContents">
            <div class="mYConetentsBar">
                <h2 style="text-align: center;">변경 전</h2>
                <table>
                    <thead>
                        <tr>
                            <th>상품 번호</th>
                            <th>상품 이름</th>
                            <th>가격</th>
                            <th>재고</th>
                            <th th:if="${ptManage != null and ptManage.category.categoryCode == 110}">사이즈</th>
                        </tr>
                    <tbody>
                        <th:block th:if="${ptManage != null}" th:each="pt : ${ptManage}">
                            <tr>
                                <td th:text="${pt.ptNo}"></td>
                                <td th:text="${pt.ptNm}"></td>

                                <td th:text="${pt.price}"></td>
                                <td th:text="${pt.stCount}"></td>
                                <td th:if="${ptManage != null and ptManage.category.categoryCode == 110}"
                                    th:text="${pt.ptSize}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                    </thead>
                </table>
                <h2 style="text-align: center;">변경하기</h2>
                <table>
                    <thead>
                        <tr>
                            <th>상품 번호</th>
                            <th>상품 이름</th>
                            <th style="width: 100px;">가격</th>
                            <th style="width: 100px;">재고</th>
                            <th th:if="${ptManage != null and ptManage.category.categoryCode == 110}">사이즈</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${ptManage != null}" th:each="pt : ${ptManage}">
                            <tr>
                                <td th:text="${pt.ptNo}"></td>
                                <td th:text="${pt.ptNm}"></td>

                                <td>
                                    <input type="number" name="price" min="0" required style="width: 100px;" th:value="${pt.price}"/>
                                </td>
                                <td>
                                    <input type="number" name="stCount" min="0" required style="width: 100px;" th:value="${pt.stCount}"/>
                                </td>
                                <td th:if="${ptManage != null and ptManage.category.categoryCode == 110}">
                                    <select name="ptSize">
                                        <option value="" selected></option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                    </select>
                                </td>
                            </tr>
                            <input type="hidden" name="ptNo" th:value="${pt.ptNo}" />
                            <input type="hidden" name="sellNo" th:value="${pt.sell.sellNo}" />
                        </th:block>
                    </tbody>
                </table>
                <div style="display: flex; justify-content: center; text-align: center;" >
                    <input
                        style="background-color: #217dbb; border: none; color: white; width: 80px; height: 50px; margin-top: 20px;"
                        type="button" id="ptUpdateBtn" value="변경하기">
                </div>
            </div>
        </div>
    </div>
</body>

</html>