<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/user/sell/CSS/sellRegist.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
    <div class="wrapper">
      <div th:replace="user/myPage/myProfileSideBar.html"></div>
      <div class="myPageContents">
        <div class="mYConetentsBar">
            <th:block th:if="${ sellResist == null}">
                <form action="/user/sellRegist" method="post">
                    <table>
                        <tr>
                            <th>상호 (영업명)</th>
                            <td colspan="3"><input class="sellInput" type="text" name="sellNm" required></td>
                        </tr>
                        
                        <tr>
                            <th>사업자 등록번호</th>
                            <td colspan="3"><input class="sellInput" type="text" name="sellerNo" required></td>
                        </tr>
                        
                        <tr>
                            <th>업종 및 업태</th>
                            <td colspan="3"><select id="sellCategory" class="sellCategory" name="sellCategoryNm"></select></td>
                        </tr>
                        
                        <tr>
                            <th>사업자 종류</th>
                            <td colspan="3">
                                <select name="sellType" required>
                                    <option value="개인사업자">개인 사업자</option>
                                    <option value="법인">법인</option>
                                </select>
                            </td>
                        </tr>
                        
                        <tr>
                            <th>사업자 연락처</th>
                            <td colspan="3"><input class="sellInput" type="tel" name="sellPhone" required></td>
                        </tr>
                        <tr>
                            <th>우편번호</th>
                            <td><input class="sellInput" type="text" name="zipCode" id="zipCode" readonly></td>
                            <td id="searchZip"><input type="button" value="검색" id="searchZipCode"></td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td colspan="2"><input class="sellInput" type="text" name="address1" id="address1" readonly></td>
                        </tr>
                        <tr>
                            <th>상세주소</th>
                            <td colspan="2"><input class="sellInput" type="text" name="address2" id="address2" placeholder="상세주소를 입력해주세요."></td>
            
                        </tr>
                    </table>
                    <button type="submit">제출</button>
                </form>
            </th:block>

            <th:block th:if="${ sellResist != null and sellResist.sellStatus == '승인'}">

                <h3 align="center">사업자 신청 현황 : 승인</h3>
                <form action="/user/sellRegist" method="post">
                    <table>
                        <tr>
                            <th>상호 (영업명)</th>
                            <td colspan="3"><input class="sellInput" type="text" name="sellNm" th:value="${sellResist.sellNm}" readonly></td>
                        </tr>
                        
                        <tr>
                            <th>사업자 등록번호</th>
                            <td colspan="3"><input class="sellInput" type="text" name="sellerNo" th:value="${sellResist.sellerNo}" readonly></td>
                        </tr>
                        
                        <tr>
                            <th>업종 및 업태</th>
                            <td colspan="3"><input id="sellCategory" class="sellInput" th:value="${sellResist.sellCategoryNm}"></input></td>
                        </tr>
                        
                        <tr>
                            <th>사업자 종류</th>
                            <td colspan="3"><input id="sellCategory" class="sellInput" th:value="${sellResist.sellType}"></input></td>
                        </tr>
                        
                        <tr>
                            <th>사업자 연락처</th>
                            <td colspan="3"><input class="sellInput" type="tel" name="sellPhone" th:value="${sellResist.sellPhone}"></input></td>
                        </tr>
                        <tr>
                            <th>우편번호</th>
                            <td><input class="sellInput" type="text" name="zipCode" id="zipCode" th:value="${ #lists.size(address) > 0? address[0]: '' }"/><td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td colspan="2"><input class="sellInput" type="text" name="address1" id="address1"   th:value="${ #lists.size(address) > 1 ? address[1] : '' }"/><td>
                        </tr>
                        <tr>
                            <th>상세주소</th>
                            <td colspan="2"><input class="sellInput" type="text" name="address2" id="address2" th:value="${ #lists.size(address) > 2 ? address[2] : '' }"/><td>
            
                        </tr>
                    </table>
                </form>
            </th:block>

            <th:block th:if="${ sellResist != null and sellResist.sellStatus == '대기'}">

            <h3 align="center">사업자 신청 현황 : 대기</h3>
            <form action="/user/sellRegist" method="post">
                <table>
                    <tr>
                        <th>상호 (영업명)</th>
                        <td colspan="3"><input class="sellInput" type="text" name="sellNm" th:value="${sellResist.sellNm}" readonly></td>
                    </tr>
                    
                    <tr>
                        <th>사업자 등록번호</th>
                        <td colspan="3"><input class="sellInput" type="text" name="sellerNo" th:value="${sellResist.sellerNo}" readonly></td>
                    </tr>
                    
                    <tr>
                        <th>업종 및 업태</th>
                        <td colspan="3"><input id="sellCategory" class="sellInput" th:value="${sellResist.sellCategoryNm}"></input></td>
                    </tr>
                    
                    <tr>
                        <th>사업자 종류</th>
                        <td colspan="3"><input id="sellCategory" class="sellInput" th:value="${sellResist.sellType}"></input></td>
                    </tr>
                    
                    <tr>
                        <th>사업자 연락처</th>
                        <td colspan="3"><input class="sellInput" type="tel" name="sellPhone" th:value="${sellResist.sellPhone}"></input></td>
                    </tr>
                    <tr>
                        <th>우편번호</th>
                        <td><input class="sellInput" type="text" name="zipCode" id="zipCode" th:value="${ #lists.size(address) > 0? address[0]: '' }"/><td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td colspan="2"><input class="sellInput" type="text" name="address1" id="address1"   th:value="${ #lists.size(address) > 1 ? address[1] : '' }"/><td>
                    </tr>
                    <tr>
                        <th>상세주소</th>
                        <td colspan="2"><input class="sellInput" type="text" name="address2" id="address2" th:value="${ #lists.size(address) > 2 ? address[2] : '' }"/><td>
        
                    </tr>
                </table>
            </form>
        </th:block>

        <th:block th:if="${ sellResist != null and sellResist.sellStatus == '거절'}">

        <h3 align="center">사업자 신청 현황 : 거절</h3>
        <form action="/user/sellRegist" method="post">
            <table>
                <tr>
                    <th>상호 (영업명)</th>
                    <td colspan="3"><input class="sellInput" type="text" name="sellNm" th:value="${sellResist.sellNm}" readonly></td>
                </tr>
                
                <tr>
                    <th>사업자 등록번호</th>
                    <td colspan="3"><input class="sellInput" type="text" name="sellerNo" th:value="${sellResist.sellerNo}" readonly></td>
                </tr>
                
                <tr>
                    <th>업종 및 업태</th>
                    <td colspan="3"><input id="sellCategory" class="sellInput" th:value="${sellResist.sellCategoryNm}"></input></td>
                </tr>
                
                <tr>
                    <th>사업자 종류</th>
                    <td colspan="3"><input id="sellCategory" class="sellInput" th:value="${sellResist.sellType}"></input></td>
                </tr>
                
                <tr>
                    <th>사업자 연락처</th>
                    <td colspan="3"><input class="sellInput" type="tel" name="sellPhone" th:value="${sellResist.sellPhone}"></input></td>
                </tr>
                <tr>
                    <th>우편번호</th>
                    <td><input class="sellInput" type="text" name="zipCode" id="zipCode" th:value="${ #lists.size(address) > 0? address[0]: '' }"/><td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td colspan="2"><input class="sellInput" type="text" name="address1" id="address1"   th:value="${ #lists.size(address) > 1 ? address[1] : '' }"/><td>
                </tr>
                <tr>
                    <th>상세주소</th>
                    <td colspan="2"><input class="sellInput" type="text" name="address2" id="address2" th:value="${ #lists.size(address) > 2 ? address[2] : '' }"/><td>
    
                </tr>
            </table>
            <button type="submit">제출</button>
        </form>
    </th:block>
        </div>
        </div>
    </div>
</body>
</html>