<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/user/login/CSS/findId.css">
</head>
<body>

    <script>
        const id = '[[${id}]]';
        id && alert(id);
    </script>

    <div th:replace="common/header.html"></div>
    
    <div class="wrapper">
        <form class="login2" action="/user/findId" method="post">
            <h3>아이디</h3>
            <input type="text" class="id" name="id" th:value="${id}" readonly/>
        </form>
    </div>
</body>
</html>