<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.sarada.sell.dao.SellMapper">

	<resultMap id="sellCategoryResultMap" type="com.greedy.sarada.sell.dto.CategoryDto">
		<id property="categoryCode" column="CATEGORY_CODE"/>
		<result property="categoryName" column="CATEGORY_NAME"/>
		<result property="refCategory" column="REF_CATEGORY"/>
	</resultMap>
	
	<resultMap id="RefCategoryResultMap" type="com.greedy.sarada.sell.dto.RefCategoryDto">
		<id property="refCategory" column="REF_CATEGORY"/>
		<result property="refCategoryNm" column="REF_CATEGORY_NM"/>
	</resultMap>
	
	<resultMap id="sellDtoResultMap" type="com.greedy.sarada.sell.dto.SellDto">
		<id property="sellNo" column="SELL_NO"/>
		<result property="sellNm" column="SELL_NM"/>
		<result property="sellAddress" column="SELL_ADDRESS"/>
		<result property="sellCategoryNm" column="SELL_CATEGORY"/>
		<result property="sellType" column="SELL_TYPE"/>
		<result property="sellPhone" column="SELL_PHONE"/>
		<result property="sellStatus" column="SELL_STATUS"/>
		<association property="user" resultMap="userResultMap"/>
	</resultMap>
	
	<resultMap id="userResultMap" type="com.greedy.sarada.user.dto.UserDto">
		<id property="userNo" column="USER_NO"/>
		<result property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="userNm" column="USER_NM"/>
		<result property="profileNm" column="PROFILE_NM"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="joinDate" column="JOIN_DATE"/>
		<result property="quitDate" column="QUIT_DATE"/>
		<result property="userStatus" column="USER_STATUS"/>
		<result property="snsToken" column="SNS_TOKEN"/>
		<result property="email" column="EMAIL"/>
		<collection property="userRoleList" resultMap="userRoleResultMap"/>
	</resultMap>
	
	<resultMap id="userRoleResultMap" type="com.greedy.sarada.user.dto.UserRoleDto">
		<id property="authNo" column="REF_AUTH_NO"/>
		<id property="userNo" column="REF_USER_NO"/>
		<association property="auth" resultMap="authResultMap"/>
	</resultMap>
	
	<resultMap id="authResultMap" type="com.greedy.sarada.user.dto.AuthDto">
		<id property="authNo" column="REF_AUTH_NO2"/>
		<result property="authNm" column="AUTH_NM"/>
		<result property="authDesc" column="AUTH_DESC"/>
	</resultMap>
	
	<select id="findAllCategory" resultMap="sellCategoryResultMap">
		SELECT
				CATEGORY_CODE
			 ,  CATEGORY_NAME
			 ,  REF_CATEGORY
		  FROM TB_CATEGORY
	</select>
	
	<select id="findAllRefCategory" resultMap="RefCategoryResultMap">
		SELECT
				REF_CATEGORY
			 ,  REF_CATEGORY_NM
		  FROM TB_REF_CATEGORY
	</select>
	
	<insert id="sellRegist">
		INSERT 
				INTO TB_SELL
		(  SELL_NO
		,  USER_NO
		,  SELL_NM
		,  SELL_ADDRESS
		,  SELL_CATEGORY_NM
		,  SELL_TYPE
		,  SELL_PHONE
		,  SELL_STATUS)
		VALUES
		(  #{ sellNo }
		,  #{ user.userNo}
		,  #{ sellNm }
		,  #{ sellAddress }
		,  #{ sellCategoryNm }
		,  #{ sellType }
		,  #{ sellPhone }
		,  #{ sellStatus }
		)
	
	</insert>
</mapper>