<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.sarada.sell.dao.SellMapper">

	<resultMap id="sellCategoryResultMap" type="com.greedy.sarada.sell.dto.CategoryDto">
		<id property="categoryCode" column="CATEGORY_CODE"/>
		<result property="categoryName" column="CATEGORY_NAME"/>
		<result property="refCategory" column="REF_CATEGORY"/>
	</resultMap>
	
	<resultMap id="RefCategoryResultMap" type="com.greedy.sarada.sell.dto.RefCategoryDto">
		<id property="refCategory" column="REF_CATEGORY"/>
		<result property="refCategoryNm" column="REF_CATEGORY_NM"/>
	</resultMap>
	
	<resultMap id="sellDtoResultMap" type="com.greedy.sarada.sell.dto.SellDto">
		<id property="sellNo" column="SELL_NO"/>
		<result property="sellNm" column="SELL_NM"/>
		<result property="sellAddress" column="SELL_ADDRESS"/>
		<result property="sellCategoryNm" column="SELL_CATEGORY"/>
		<result property="sellType" column="SELL_TYPE"/>
		<result property="sellPhone" column="SELL_PHONE"/>
		<result property="sellStatus" column="SELL_STATUS"/>
		<result property="sellReqDate" column="SELL_REQ_DATE" />
		<result property="sellRegiDate" column="SELL_REGI_DATE" />
		<result property="sellerNo" column="SELLER_NO" />
		<association property="user" resultMap="userResultMap"/>
	</resultMap>
	
	<resultMap id="userResultMap" type="com.greedy.sarada.user.dto.UserDto">
		<id property="userNo" column="USER_NO"/>
		<result property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="userNm" column="USER_NM"/>
		<result property="profileNm" column="PROFILE_NM"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="joinDate" column="JOIN_DATE"/>
		<result property="quitDate" column="QUIT_DATE"/>
		<result property="userStatus" column="USER_STATUS"/>
		<result property="snsToken" column="SNS_TOKEN"/>
		<result property="email" column="EMAIL"/>
		<collection property="userRoleList" resultMap="userRoleResultMap"/>
	</resultMap>
	
	<resultMap id="userRoleResultMap" type="com.greedy.sarada.user.dto.UserRoleDto">
		<id property="authNo" column="REF_AUTH_NO"/>
		<id property="userNo" column="REF_USER_NO"/>
		<association property="auth" resultMap="authResultMap"/>
	</resultMap>
	
	<resultMap id="authResultMap" type="com.greedy.sarada.user.dto.AuthDto">
		<id property="authNo" column="REF_AUTH_NO2"/>
		<result property="authNm" column="AUTH_NM"/>
		<result property="authDesc" column="AUTH_DESC"/>
	</resultMap>
	
	<resultMap id="listResultMap" type="com.greedy.sarada.sell.dto.ListDto">
		<id property="listNo" column="LIST_NO"/>
		<result property="listNm" column="LIST_NM"/>
		<result property="registDate" column="REGIST_DATE"/>
		<result property="description" column="DESCRIPTION"/>
		<result property="listNm" column="LIST_NM"/>
		<association property="categoryCode" resultMap="RefCategoryResultMap"/>
		<association property="sell" resultMap="sellDtoResultMap"/>
		<association property="fileMain" resultMap="fileResultMap"/>
		<collection property="ptList" resultMap="ptResultMap"/>
		<collection property="fileImageList" resultMap="fileResultMap"/>
	</resultMap>
	
	
	<resultMap id="ptResultMap" type="com.greedy.sarada.sell.dto.PtDto">
		<id property="ptNo" column="PT_NO"/>
		<result property="ptNm" column="PT_NM"/>
		<result property="price" column="PRICE"/>
		<result property="stCount" column="ST_COUNT"/>
		<result property="ptDescrip" column="PT_DESCRIP"/>
		<result property="listNo" column="LIST_NO"/>		
		<association property="user" resultMap="userResultMap"/>
		<association property="fileList" resultMap="fileResultMap"/>
	</resultMap>
	
	<resultMap id="fileResultMap" type="com.greedy.sarada.sell.dto.FileDto">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="originalFileNm" column="ORIGINAL_FILE_NM"/>
		<result property="savedFileNm" column="SAVED_FILE_NM"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="mainFilePath" column="MAIN_FILE_PATH"/>
	</resultMap>
	
	<select id="findAllCategory" resultMap="sellCategoryResultMap">
		SELECT
				CATEGORY_CODE
			 ,  CATEGORY_NAME
			 ,  REF_CATEGORY
		  FROM TB_CATEGORY
	</select>
	
	<select id="findAllRefCategory" resultMap="RefCategoryResultMap">
		SELECT
				REF_CATEGORY
			 ,  REF_CATEGORY_NM
		  FROM TB_REF_CATEGORY
	</select>
	
	<insert id="sellRegist">
		INSERT 
				INTO TB_SELL
		(  SELL_NO
		,  USER_NO
		,  SELL_NM
		,  SELL_ADDRESS
		,  SELL_CATEGORY_NM
		,  SELL_TYPE
		,  SELL_PHONE
		,  SELL_STATUS
		,  SELL_REQ_DATE
		,  SELLER_NO)
		VALUES
		(  'SE'||(SEQ_SELL.NEXTVAL)
		,  #{ user.userNo}
		,  #{ sellNm }
		,  #{ sellAddress }
		,  #{ sellCategoryNm }
		,  #{ sellType }
		,  #{ sellPhone }
		,  #{ sellStatus }
		, SYSDATE
		,  #{ sellerNo } 
		)
	
	</insert>
	
	<insert id="insertSellList">
		INSERT 
			INTO TB_LIST
		( LIST_NO
		, CATEGORY_CODE
		, LIST_NM
		, REGIST_DATE
		, DESCRIPTION
		, SELL_NO
		)VALUES
		(
		  
		)
	</insert>
	<insert id="insertImage">
		INSERT 
			INTO TB_FILE
		( FILE_NO
		, PT_NO
		, FILE_TYPE
		, ORIGINAL_FILE_NM
		, SAVED_FILE_NM
		, FILE_PATH
		, MAIN_FILE_PATH
		)VALUES
		(
		  
		)
	</insert>
	<insert id="insertSellMainImage">
		INSERT 
			INTO TB_FILE
		( FILE_NO
		, PT_NO
		, FILE_TYPE
		, ORIGINAL_FILE_NM
		, SAVED_FILE_NM
		, FILE_PATH
		, MAIN_FILE_PATH
		)VALUES
		(
		  
		)
	</insert>
	<insert id="insertPt">
		INSERT 
			INTO TB_PT
		( PT_NO
		, PT_NM
		, PRICE
		, ST_COUNT
		, SELL_NO
		, PT_DESCRIP
		, LIST_NO
		)VALUES
		(
		  
		)
	</insert>
	
	
</mapper>