<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="common/CSS/index.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
	
    <div th:replace="common/header.html"></div>
	
    <div class="searchBar">
        <input type="text" id="searchBarValue"/>
        <input type="button" id="searchBarBtn" value="검색"/>
    </div>
	<div class="outBox wrapper" id="outBox">
    </div>

</body>    
</html>