<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="common/CSS/index.css">
</head>
<body>
	
    <div th:replace="common/header.html"></div>
	
	<div class="outBox wrapper">
        <div class="itemBox">
            <img src="../static/common/images/banner.PNG" alt="java">
            <p>Java 시작하기</p>
        </div>
        <div class="itemBox">
            <img src="../static/common/images/banner.PNG" alt="oracle">
            <p>Oracle 시작하기</p>
        </div>
        <div class="itemBox">
            <img src="../static/common/images/banner.PNG" alt="html">
            <p>HTML 시작하기</p>
        </div>
        <div class="itemBox big-box">
            <img src="../static/common/images/banner.PNG" alt="css">
            <p>CSS 시작하기</p>
        </div>
        <div class="itemBox">
            <img src="../static/common/images/banner.PNG" alt="javascript">
            <p>JavaScript 시작하기</p>
        </div>
    </div>
	
	<!-- <div th:replace="common/footer.html"></div> -->

</body>    
</html>