@charset "UTF-8";

body {
    margin: 0;
}

.aside{
    border-right: 1px solid;
}

.wrapper ul {
    list-style: none;
    padding: 10px;
}

.wrapper ul li {
    padding: 8px 12px;
}

.main-nav{
    display: flex;
    padding-left: 0;
}

.main-nav li{
    padding: 8px 12px;
    list-style: none;
}

.main-nav li:hover {
    background-color: brown;
}

input[type=button] {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 2%;
    margin-top: 4%;
    margin-bottom: 3%;
}