@charset "UTF-8";

body {
    margin: 0;
}

.wrapper { 
    margin: 0 auto; 
    justify-content: start; 
    display: grid;
    margin: 13% auto;
    margin-top: 100px;
    min-width: 200px;
    margin-left: 15px;
    list-style: none;
    grid-template-columns: 200px 1fr;
}

.myPageContents{
    margin-left: 2rem;
    width: calc(100% - 6rem);
}

.info{
    display: grid;
    justify-content: center;
    margin: 5% auto;
    width: 70%;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd;
    border-radius: 8px; 
    overflow: hidden; 
}


.info td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.info tr:last-child td {
    border-bottom: none; /* 마지막 행의 보더 삭제 */
}

.userNm, .userId {
    border-width: 0;
    pointer-events: none;
}

.btn-sign {
    background-color: #3498db;
    color: #fff;
    border: none;
    width: 100px;
    padding: 20px;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40%;
}


#btn-sign:hover {
    background-color: #2980b9;
}