<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/user/myPage/CSS/myOrderList.css">
</head>
<body>
    
    <script type="text/javascript" src="/user/myPage/JS/myProfile.js"></script>
    <div class="wrapper">
      <div th:replace="user/myPage/myProfileSideBar.html"></div>
      <div class="myPageContents">
        <div class="mYConetentsBar">
            <!-- <table>
                <tr >
                    <th>날짜</th>
                    <th >상품 정보</th>
                    <th>가격</th>
                    <th>진행 상태</th>
                    <th>변경</th>
                </tr>
                <th:block th:if="${orderLists != null}" th:each="order : ${orderLists}">
                    <tr>
                        <td rowspan="2" th:text="${order.orderDate}"></td>
                        
                        <td>
                            <div>
                                <a th:text="${order.listNm}" th:href="@{/user/orderDetail(orderNo=${order.orderNo})}"></a>
                            </div>
                            
                            <div>
                                <a th:href="@{/user/orderDetail(orderNo=${order.orderNo})}">
                                    <img th:src="${order.mainFile.mainFilePath + order.mainFile.savedFileNm}" width="200px" height="200px">
                                </a>
                            </div>
                        </td>
                        
                        <td rowspan="2" th:text="${order.orderPrice}"></td>
                        <td rowspan="2" th:text="${order.deliveryStatus}"></td>
                        <td rowspan="2">
                            <button class="btn">배송 조회</button>
                            <button class="btn">환불 신청</button>
                        </td>
                    </tr>
                </th:block>
            </table> -->
        </div>
      </div>
    </div>
</body>
</html>