<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/user/myPage/CSS/myOrderList.css">
</head>
<body>
    
    <script type="text/javascript" src="/user/myPage/JS/myProfile.js"></script>
    <div class="wrapper">
      <div th:replace="user/myPage/myProfileSideBar.html"></div>
      <div class="myPageContents">
        <div class="mYConetentsBar">
            <table style="border: 1px black solid;">
                <tr >
                    <th>날짜</th>
                    <th>상품 정보</th>
                    <th>수량</th>
                    <th>가격</th>
                    <th>진행 상태</th>
                    <th>변경</th>
                </tr>
                <tr>
                    <td rowspan="3">dsadsdsdd</td>
                    <td>asdsd</td>
                    <td>asdsd</td>
                    <td>asdsd</td>
                    <td>asdsd</td>
                    <td>asdsd</td>
                </tr>
                <tr>
                    <td>asdsd</td>
                    <td>asdsd</td>
                    <td>asdsd</td>
                    <td>asdsd</td>
                    <td>asdsd</td>
                </tr>
                <tr>
                    <td>asdsd</td>
                    <td>asdsd</td>
                    <td>asdsd</td>
                    <td>asdsd</td>
                    <td>asdsd</td>
                </tr>
            </table>
        </div>
      </div>
    </div>
</body>
</html>